{% extends "base.html"%}
{% block content%}
    <div style="margin-left: 20%;margin-top: 10%">
        <p style="color:blue;background-color: #ffd700;text-align: center;font-size: 1.5em;margin-bottom: 0px">SNTECH</p>
        <p style="color:white;border:2px solid blue;margin-top:0px;font-size: 1.2em">

            
            SNTECH est une entreprise qui emerge dans le domaine des nouvelles technologies plus precisement dans le developpement web/mobile,Iot,les reseaux et le markting digital.
            <br><br><br><br><br>
        </p>
    </div>
{% endblock %}